<div class="movie">
  <h2><%= movie.title %></h2>
  <p><%= movie.overview %></p>
  <p>Rating: <%= movie.rating %></p>
  <img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" width="200">
</div>
